<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string></string>
	<key>contactName</key>
	<string>Ånthokolski</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>D WebPreview</string>
	<key>uuid</key>
	<string>D2A843AB-7142-4544-B41D-37EB0F3E6DE0</string>
</dict>
</plist>
